<div class="footer-container">
    <div class="footer-container__row-one">
        <div class="footer-container__row-one__column-one">Column 1</div>
        <div class="footer-container__row-one__column-two">Column 2</div>
        <div class="footer-container__row-one__column-three">Column 3</div>
        <div class="footer-container__row-one__column-four">Column 4</div>
    </div>
    <div class="footer-container__row-two">
        <div class="footer-container__row-two__column-one">column one</div>
        <div class="footer-container__row-two__column-two">&#169;2020-2021 panchshakti.com</div>
        <div class="footer-container__row-two__column-three">column three</div>
    </div>
</div>