@import '../../../styles/colors';
.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    .footer-root {
        height: 10vh;
    }
    .header-root {
        height: 10vh;
        background-color: $footer-bg;
    }
    .main-root {
        height: 80vh;
    }
}