<div class="header-container">
    <div class="header-container__child">
        <div class="header-container__child__logo">
            <div class="header-container__child__logo__container">
                Panchshakti Store
            </div>
        </div>
        <div class="header-container__child__link">
            <div class="header-container__child__link__container">
                <div class="header-container__child__link__container__item">Home</div>
                <div class="header-container__child__link__container__item">Inventory</div>
            </div>
        </div>
    </div>
</div>