@font-face {
    font-family: 'Gotham Book';
    src: url(/assets/fonts/Gotham-Book.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Book Light';
    src: url(/assets/fonts/Gotham-Light.woff) format("woff");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Book Medium';
    src: url(/assets/fonts/Gotham-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Book Bold';
    src: url(/assets/fonts/Gotham-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}